@using CompWebShopApp.Model.ViewModels.Claims
@model IndexClaimVM
@{
    ViewData["Title"] = "Index";
}

<h1>Твердження про користувача @Model.UserName</h1>
<h2>Email: @Model.Email</h2>
<a asp-action="Create" asp-controller="Claims">Додати твердження</a>
<hr/>
@if(Model.Claims!=null && Model.Claims.Count()>0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Тип твердження</th>
                <th>Значення</th>
                <th>Тип значення</th>
                <th>Емітент</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach(var claim in Model.Claims)
            {
                <tr>
                    <td>@claim.Type</td>
                    <td>@claim.Value</td>
                    <td>@claim.ValueType</td>
                    <td>@claim.Issuer</td>
                    <td>
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="claimValues" 
                            value="@claim.Type;@claim.Value;@claim.Issuer" >
                            <button type="submit" class="btn btn-outline-danger">Видалити</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>Твердження відсутні!</h3>
}
